* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
    z-index: 100;
  }
  
  #navbar.scrolled {
    background-color: black;
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    
  }
  
  /* .logo {
    font-size: 24px;
    color: white;
  } */
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
    
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
  }
  
  .content {
    height: 3000px;
    text-align: center;
    background-image: url('./i.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
  }
  .cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .buy-now {
    background-color: #8B5E3C; /* Brown-like color for the button */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .cta-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .social-media a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .social-media a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .email-updates a,
  .add-to-calendar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .email-updates a:hover,
  .add-to-calendar a:hover,
  .social-media a:hover {
    color: #8B5E3C; /* Change color on hover */
  }
  
  .fa {
    font-size: 20px;
  }
  
  .video-slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
}

.video-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.play-button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}

.video-details {
    text-align: left;
}

.video-details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.video-details p {
    margin: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
